In [2]:
import numpy as np
import pandas as pd
import pickle
from tqdm import tqdm

In [3]:
pd.set_option('display.max_info_columns', 200)

In [12]:
%%time
data_ac = pd.read_csv('../data/accepted_2007_to_2018Q4.csv', low_memory=False)
data_rej = pd.read_csv('../data/rejected_2007_to_2018Q4.csv', low_memory=False)

CPU times: user 16.4 s, sys: 2.53 s, total: 18.9 s
Wall time: 23.7 s

In [13]:
data_ac.to_pickle('../data/data_accepted.pkl')
data_rej.to_pickle('../data/data_rejected.pkl')

In [45]:
%%time
data_ac = pd.read_pickle('../data/data_accepted.pkl', index_col='id')
data_rej = pd.read_pickle('../data/data_rejected.pkl')

CPU times: user 1.73 s, sys: 566 ms, total: 2.29 s
Wall time: 2.32 s

In [14]:
data_ac.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
data_rej.head()

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code
0,1000.0,2007-05-26,Wedding Covered but No Honeymoon,693.0,10%,481xx,NM,4 years,0.0
1,1000.0,2007-05-26,Consolidating Debt,703.0,10%,010xx,MA,< 1 year,0.0
2,11000.0,2007-05-27,Want to consolidate my debt,715.0,10%,212xx,MD,1 year,0.0
3,6000.0,2007-05-27,waksman,698.0,38.64%,017xx,MA,< 1 year,0.0
4,1500.0,2007-05-27,mdrigo,509.0,9.43%,209xx,MD,< 1 year,0.0

In [16]:
data_rej.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12409081 entries, 0 to 12409080
Data columns (total 9 columns):
 #   Column                Dtype
---  ------                -----
 0   Amount Requested      float64
 1   Application Date      object
 2   Loan Title            object
 3   Risk_Score            float64
 4   Debt-To-Income Ratio  object
 5   Zip Code              object
 6   State                 object
 7   Employment Length     object
 8   Policy Code           float64
dtypes: float64(3), object(6)
memory usage: 852.1+ MB

In [17]:
data_ac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 786068 entries, 0 to 786067
Data columns (total 151 columns):
 #    Column                                      Non-Null Count   Dtype
---   ------                                      --------------   -----
 0    id                                          786068 non-null  object
 1    member_id                                   0 non-null       float64
 2    loan_amnt                                   786060 non-null  float64
 3    funded_amnt                                 786060 non-null  float64
 4    funded_amnt_inv                             786060 non-null  float64
 5    term                                        786060 non-null  object
 6    int_rate                                    786060 non-null  float64
 7    installment                                 786060 non-null  float64
 8    grade                                       786060 non-null  object
 9    sub_grade                                   786060 non-null  object
 10   emp_title                                   732623 non-null  object
 11   emp_length                                  734477 non-null  object
 12   home_ownership                              786060 non-null  object
 13   annual_inc                                  786060 non-null  float64
 14   verification_status                         786060 non-null  object
 15   issue_d                                     786060 non-null  object
 16   loan_status                                 786060 non-null  object
 17   pymnt_plan                                  786060 non-null  object
 18   url                                         786060 non-null  object
 19   desc                                        51 non-null      object
 20   purpose                                     786059 non-null  object
 21   title                                       778806 non-null  object
 22   zip_code                                    786059 non-null  object
 23   addr_state                                  786059 non-null  object
 24   dti                                         785520 non-null  float64
 25   delinq_2yrs                                 786059 non-null  float64
 26   earliest_cr_line                            786059 non-null  object
 27   fico_range_low                              786059 non-null  float64
 28   fico_range_high                             786059 non-null  float64
 29   inq_last_6mths                              786059 non-null  float64
 30   mths_since_last_delinq                      393534 non-null  float64
 31   mths_since_last_record                      131352 non-null  float64
 32   open_acc                                    786059 non-null  float64
 33   pub_rec                                     786059 non-null  float64
 34   revol_bal                                   786059 non-null  float64
 35   revol_util                                  785530 non-null  float64
 36   total_acc                                   786059 non-null  float64
 37   initial_list_status                         786059 non-null  object
 38   out_prncp                                   786059 non-null  float64
 39   out_prncp_inv                               786059 non-null  float64
 40   total_pymnt                                 786059 non-null  float64
 41   total_pymnt_inv                             786059 non-null  float64
 42   total_rec_prncp                             786059 non-null  float64
 43   total_rec_int                               786059 non-null  float64
 44   total_rec_late_fee                          786059 non-null  float64
 45   recoveries                                  786059 non-null  float64
 46   collection_recovery_fee                     786059 non-null  float64
 47   last_pymnt_d                                785248 non-null  object
 48   last_pymnt_amnt                             786059 non-null  float64
 49   next_pymnt_d                                278922 non-null  object
 50   last_credit_pull_d                          786047 non-null  object
 51   last_fico_range_high                        786059 non-null  float64
 52   last_fico_range_low                         786059 non-null  float64
 53   collections_12_mths_ex_med                  786059 non-null  float64
 54   mths_since_last_major_derog                 216568 non-null  float64
 55   policy_code                                 786059 non-null  float64
 56   application_type                            786059 non-null  object
 57   annual_inc_joint                            37405 non-null   float64
 58   dti_joint                                   37403 non-null   float64
 59   verification_status_joint                   36351 non-null   object
 60   acc_now_delinq                              786059 non-null  float64
 61   tot_coll_amt                                786059 non-null  float64
 62   tot_cur_bal                                 786059 non-null  float64
 63   open_acc_6m                                 386336 non-null  float64
 64   open_act_il                                 386336 non-null  float64
 65   open_il_12m                                 386336 non-null  float64
 66   open_il_24m                                 386336 non-null  float64
 67   mths_since_rcnt_il                          373888 non-null  float64
 68   total_bal_il                                386336 non-null  float64
 69   il_util                                     329540 non-null  float64
 70   open_rv_12m                                 386336 non-null  float64
 71   open_rv_24m                                 386336 non-null  float64
 72   max_bal_bc                                  386336 non-null  float64
 73   all_util                                    386276 non-null  float64
 74   total_rev_hi_lim                            786059 non-null  float64
 75   inq_fi                                      386336 non-null  float64
 76   total_cu_tl                                 386336 non-null  float64
 77   inq_last_12m                                386336 non-null  float64
 78   acc_open_past_24mths                        786059 non-null  float64
 79   avg_cur_bal                                 786039 non-null  float64
 80   bc_open_to_buy                              777306 non-null  float64
 81   bc_util                                     776867 non-null  float64
 82   chargeoff_within_12_mths                    786059 non-null  float64
 83   delinq_amnt                                 786059 non-null  float64
 84   mo_sin_old_il_acct                          761919 non-null  float64
 85   mo_sin_old_rev_tl_op                        786059 non-null  float64
 86   mo_sin_rcnt_rev_tl_op                       786059 non-null  float64
 87   mo_sin_rcnt_tl                              786059 non-null  float64
 88   mort_acc                                    786059 non-null  float64
 89   mths_since_recent_bc                        777747 non-null  float64
 90   mths_since_recent_bc_dlq                    190834 non-null  float64
 91   mths_since_recent_inq                       699227 non-null  float64
 92   mths_since_recent_revol_delinq              270398 non-null  float64
 93   num_accts_ever_120_pd                       786059 non-null  float64
 94   num_actv_bc_tl                              786059 non-null  float64
 95   num_actv_rev_tl                             786059 non-null  float64
 96   num_bc_sats                                 786059 non-null  float64
 97   num_bc_tl                                   786059 non-null  float64
 98   num_il_tl                                   786059 non-null  float64
 99   num_op_rev_tl                               786059 non-null  float64
 100  num_rev_accts                               786058 non-null  float64
 101  num_rev_tl_bal_gt_0                         786059 non-null  float64
 102  num_sats                                    786059 non-null  float64
 103  num_tl_120dpd_2m                            752012 non-null  float64
 104  num_tl_30dpd                                786059 non-null  float64
 105  num_tl_90g_dpd_24m                          786059 non-null  float64
 106  num_tl_op_past_12m                          786059 non-null  float64
 107  pct_tl_nvr_dlq                              786058 non-null  float64
 108  percent_bc_gt_75                            777019 non-null  float64
 109  pub_rec_bankruptcies                        786059 non-null  float64
 110  tax_liens                                   786059 non-null  float64
 111  tot_hi_cred_lim                             786059 non-null  float64
 112  total_bal_ex_mort                           786059 non-null  float64
 113  total_bc_limit                              786059 non-null  float64
 114  total_il_high_credit_limit                  786059 non-null  float64
 115  revol_bal_joint                             35419 non-null   float64
 116  sec_app_fico_range_low                      35419 non-null   float64
 117  sec_app_fico_range_high                     35419 non-null   float64
 118  sec_app_earliest_cr_line                    35419 non-null   object
 119  sec_app_inq_last_6mths                      35419 non-null   float64
 120  sec_app_mort_acc                            35419 non-null   float64
 121  sec_app_open_acc                            35419 non-null   float64
 122  sec_app_revol_util                          34805 non-null   float64
 123  sec_app_open_act_il                         35419 non-null   float64
 124  sec_app_num_rev_accts                       35419 non-null   float64
 125  sec_app_chargeoff_within_12_mths            35419 non-null   float64
 126  sec_app_collections_12_mths_ex_med          35419 non-null   float64
 127  sec_app_mths_since_last_major_derog         11829 non-null   float64
 128  hardship_flag                               786059 non-null  object
 129  hardship_type                               4588 non-null    object
 130  hardship_reason                             4588 non-null    object
 131  hardship_status                             4588 non-null    object
 132  deferral_term                               4588 non-null    float64
 133  hardship_amount                             4588 non-null    float64
 134  hardship_start_date                         4588 non-null    object
 135  hardship_end_date                           4588 non-null    object
 136  payment_plan_start_date                     4588 non-null    object
 137  hardship_length                             4588 non-null    float64
 138  hardship_dpd                                4588 non-null    float64
 139  hardship_loan_status                        4588 non-null    object
 140  orig_projected_additional_accrued_interest  3675 non-null    float64
 141  hardship_payoff_balance_amount              4588 non-null    float64
 142  hardship_last_payment_amount                4588 non-null    float64
 143  disbursement_method                         786059 non-null  object
 144  debt_settlement_flag                        786059 non-null  object
 145  debt_settlement_flag_date                   15445 non-null   object
 146  settlement_status                           15445 non-null   object
 147  settlement_date                             15445 non-null   object
 148  settlement_amount                           15445 non-null   float64
 149  settlement_percentage                       15445 non-null   float64
 150  settlement_term                             15445 non-null   float64
dtypes: float64(113), object(38)
memory usage: 905.6+ MB

In [18]:
data_ac.loan_status.unique()

array(['Fully Paid', 'Current', 'Charged Off', 'In Grace Period',
       'Late (31-120 days)', 'Late (16-30 days)', 'Default', nan],
      dtype=object)

In [36]:
data_ac.policy_code.unique()

array([ 1., nan])

### Вывод по данным
Есть множество пропусков в каждом из датасетов
Датасет с отказами содержит значительно меньше признаков, чем в одобренных и чтобы не терять эти признаки(особенно loan_status), я приняла решение обучить две модели для разных таргетов
Первая модель будет обучена на обьединении одобренных и реджектнутых заявок только с общими признаками, таргетом будет - одобрение/отказ
Вторая модель будет обучена только на одобренных заявках, таргетом будет - значение loan_status бинаризированный

In [31]:
data_ac["approved"] = 1
data_rej["approved"] = 0

accepted = data_ac
rejected = data_rej

In [20]:
rejected["dti"] = rejected["Debt-To-Income Ratio"].str.rstrip('%').astype(float)
rejected["loan_amnt"] = rejected["Amount Requested"]
rejected["emp_length"] = rejected["Employment Length"]  # преобразовать
rejected["addr_state"] = rejected["State"]
rejected['zip_code'] = rejected['Zip Code']
rejected['policy_code'] = rejected['Policy Code']
rejected['purpose'] = rejected['Zip Code']

In [21]:
common_features = [
    "loan_amnt",       # Amount Requested
    "dti",             # Debt-To-Income Ratio
    "emp_length",      # Employment Length
    "addr_state",      # State
    "purpose",         # Loan Title / purpose
    "policy_code",      # Policy Code
    'zip_code'
]

In [22]:
accepted = accepted[common_features + ["approved"]]
rejected = rejected[common_features + ["approved"]]

In [24]:
full_data = pd.concat([accepted, rejected], axis=0)

In [25]:
full_data.head()

   loan_amnt    dti emp_length addr_state  approved
0     3600.0   5.91  10+ years         PA         1
1    24700.0  16.06  10+ years         SD         1
2    20000.0  10.78  10+ years         IL         1
3    35000.0  17.06  10+ years         NJ         1
4    10400.0  25.37    3 years         PA         1

In [26]:
full_data.emp_length.unique()

array(['10+ years', '3 years', '4 years', '6 years', '1 year', '7 years',
       '8 years', '5 years', '2 years', '9 years', '< 1 year', nan],
      dtype=object)

In [29]:
data_ac['zip_code'].value_counts()

zip_code
945xx    8182
112xx    8123
750xx    8079
606xx    7330
300xx    7314
         ...
709xx       1
849xx       1
854xx       1
520xx       1
696xx       1
Name: count, Length: 924, dtype: int64

In [30]:
data_rej['Zip Code'].value_counts()

Zip Code
112xx    122179
770xx    117155
300xx    115472
331xx    111065
606xx    105886
          ...
818xx         4
529xx         4
579xx         3
699xx         3
09Oxx         1
Name: count, Length: 1001, dtype: int64

In [39]:
data_rej['Loan Title'].value_counts()

Loan Title
debt_consolidation              2969543
Debt consolidation              2507541
other                           1065438
Other                            984052
Credit card refinancing          916744
                                 ...
help ive tried every thing            1
Debt Consolidation/auto loan          1
Start-up Debt Loan                    1
Help me get out of this mess          1
peer to peer loan                     1
Name: count, Length: 73918, dtype: int64